$colorfondo: rgb(240, 248, 255);
$colorborde: rgb(255, 235, 205);
body {
    top: 0px;
    overflow-x: hidden;
    max-width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: $colorfondo;
}
$block_height: 140px;
.gallery {
    margin: 40px 0;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6, auto);
    grid-auto-rows: minmax($block_height, auto);
    grid-gap: 20px;
    justify-content: center;
    grid-template-areas:
        "a a   b b  c c"
        "a a   b b  c c"
        "d d   e e  c c"
        "d d   e e  c c"
    ;
    &:hover {
        .block {
            transform:scale(.95);
        }
    }
    .block {
        background: #bebebe;
        position: relative;
        overflow: hidden;
         img{
            width: 100%;
            height: 100%;
            display: block;
            margin: 0 auto; 
         }

        &:hover {
            transform: scale(1);
        }
        &:nth-child(1){
            grid-area: a;
        }
        &:nth-child(2){
            grid-area: b;
        }
        &:nth-child(3){
            grid-area: c;
        }
        &:nth-child(4){
            grid-area: d;
        }
        &:nth-child(5){
            grid-area: e;
        }
    }
}

.img_index {
    display: flex;
    justify-content: center;
    align-items: center;
    img{
        background-color: #e1ecf9;
        background-size: contain;
        border-radius: 50%;
        padding: 13px;
        width: 450px;
        height: 450px;
        margin-left: 20px;
        margin-right: 20px;
    }
}
// .index_pic {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
// }

// .img_index {
//     width: 300px;
//     height: 300px;
//     margin: 10px;
// }


.home {
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-top: 30px;
}
.pp {
    p{
    display: flex;
    justify-content: center;
    font-family: 'Lato', sans-serif;
    margin-top: 5px;
    font-size: 30px;
    }
}
.aboutus_div {
    width: 100%;
    height: 700px;
    background-color: #e1ecf9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 50px;
    margin-top: 50px;
}
.aboutus-title {
    font-family: 'Caveat', cursive;
    font-size: 80px;
    text-align: center;
    margin-bottom: 50px;
}
.aboutus_text {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 800px;
    height: 400px;
    font-size: 25px;
    font-family: 'Lato', sans-serif;
    text-align:justify;
    
}
.about_img {
    width: 650px;
    height: 650px;
}
