@media (max-width:480px) {
    .portada{
        height: auto;
        .miloDisplayNone{
            display: flex;
        }
    }
    .img_portada{
        display: none;
    }
    .lorem_div h1{
        display: none;
    }    
    .titulos{
        h2.top{
            margin-top: 20px;
            margin-bottom: 5px;
        }
    }

    $block_height: 90px;
    .gallery_index {
        height: 180px;
        grid-gap: 5px;
        margin: 0;
        overflow: visible;
        grid-template-areas:
        "a a b b c c"
        "a a b b c c";
        .block_index {
        img{
            width: 115px;
            height: 150px;
            display: block;
            margin-top: 15px;
        }
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Inconsolata", sans-serif;
            font-size: 15px;
            color: rgb(140, 138, 138);
            text-align: center;
        }
        &:hover{
                .content{
                    display: none;
                }
            }
        }
    }
    // IMG INDEX
    .img_index_div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        overflow: auto;
        position: relative;
        scroll-behavior: smooth;
        margin-bottom: -50px;
        .index-img {
            img{
                height: 300px;
                width: 280px;
                margin: 5px;
            }
            p{
                font-size: 12px;
                margin-bottom: 0px;
            }
        }
    } 

    //VEGAN & ANIMATION
    .vegan_div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        overflow: auto;
        position: relative;
        scroll-behavior: smooth;
        margin-bottom: -60px;
        .vegan-img {
            img{
                height: 300px;
                width: 280px;
                margin: 5px;
            }
        } 
    }


    
    //ABOUT US 
    .aboutus_div {
        height: auto;
        flex-direction: column-reverse;
        justify-content:center;
        margin: 50px 10px 10px 10px;
    }
    .aboutus-title {
        font-size: 40px;
    }
    .aboutus_text {
        width: auto;
        height: auto;
        font-size: 15px;
        text-align: left;
        margin: 20px 20px -50px 20px;
        word-wrap: break-word;

    }
    .about_img {
        margin-top: 40px;
        margin-bottom: 30px;
        width: 220px;
        height: 230px;
    }
    

}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px)  {
    
    $block_height: 90px;
    .gallery_index {
        height: auto;
        grid-gap: 5px;
        margin: 0;
        overflow: visible;
        grid-template-areas:
        "a a b b c c"
        "a a b b c c"
        "a a b b c c"
        "a a b b c c";
        .block_index {
        img{
            width: 250px;
            height: 280px;
            margin-top: 15px;
        }
        p{
            display: flex;
            align-items: center;
            justify-content: center;
            font-family: "Inconsolata", sans-serif;
            font-size: 15px;
            color: rgb(140, 138, 138);
            text-align: center;
        }
        &:hover{
                .content{
                    display: none;
                }
            }
        }
    }
    // IMG INDEX
    .img_index_div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        overflow: auto;
        position: relative;
        scroll-behavior: smooth;
        margin-bottom: -60px;
        .index-img {
            img{
                height: 300px;
                width: 300px;
                margin: 5px;
            }
            p{
                font-size: 20px;
                margin-bottom: 0px;
            }
        }
    } 
    //VEGAN & ANIMATION
    .vegan_div{
        width: 100%;
        height: auto;
        display: flex;
        justify-content: left;
        overflow: auto;
        position: relative;
        scroll-behavior: smooth;
        margin-bottom: -60px;
        .vegan-img {
            img{
                height: 300px;
                width: 300px;
                margin: 5px;
            }
        } 
    }



    //ABOUT US 
    .aboutus_div {
        height: auto;
        flex-direction: column-reverse;
        justify-content:center;
        margin-bottom: 10px;
        margin-top: 50px;
    }
    .aboutus-title {
        font-size: 40px;
    }
    .aboutus_text {
        width: auto;
        height: auto;
        font-size: 15px;
        text-align: left;
        margin: 20px 25px -50px 25px;
        word-wrap: break-word;

    }
    .about_img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 220px;
        height: 230px;
    }

}