


.logo {
   img {
    bottom: -120px;
    position: absolute;
    height: 150px;
    width: 150px;
   }
  }

.face,
.ig {
    margin-right: 5px;
}

.nav-item {
    a{
        font-size: 18px;
        margin: 15px;
        font-family:'Lato', sans-serif;
    }
    
}
