.navbar{
    .face,
    .ig {
        margin-right: 5px;
    }
    .navbar_center {
        z-index: 20;
        color: black;
    }
    .nav-item {
        a{
            font-size: 18px;
            margin: 15px;
            font-family:'Lato', sans-serif;
        }
    }
}
#navbarNav {
    display: flex;
    justify-content: start;
}


    

