.portada{
    width: 100vw;
    height: 299px;
    position: relative;
    top: 0;
    .miloDisplayNone{
        display: none;
    }
    .img_portada {
        width: 100vw;
        height: 350px;
        opacity: 50%;
        position: absolute;
        pointer-events: none;
    }
    .lorem_div{
        display: flex;
        justify-content: center;
        align-items: center;
        h1 {
            font-family: "sacramento";
            color: rgb(44, 42, 42);
            font-size: 250px;
            z-index: 20;
            opacity: 90%;
            line-height: 100%;
        }
    }
}
.navbar-index{
    z-index: 1;
    width: 100vw;
    height: 75px;
    background-color: rgba(248, 249, 250, 0.996);
    .nav-item {
        a{
            font-size: 18px;
            margin: 15px;
            font-family:'Lato', sans-serif;
        }
        .ig {
            margin-right: 45px;
        }
    }
}


@media only screen and (min-device-width: 481px) and (max-device-width: 1024px)  {

    .navbar-index{
        .nav-item {
            a{
                margin-top: 25px;
            }
        }
    }
}