
.portada{
    width: 100vw;
    height: 399px;
    position: relative;
    top: 0;
    left: 0;
    right: 0;

    .img_portada {
        width: 100vw;
        opacity: 50%;
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
    }
    .lorem_div{
        display: flex;
        justify-content: center;

        h1 {
            font-family: "sacramento";
            color: rgb(44, 42, 42);
            font-size: 250px;
            z-index: 20;
            opacity: 90%;
            line-height: 80%;
        }
    }
}
.navbar-index{
    z-index: 1;
    width: 100vw;
    height: 75px;
    background-color: rgba(248, 249, 250, 0.996);
    .nav-item {
        a{
            font-size: 18px;
            margin: 15px;
            font-family:'Lato', sans-serif;
        }
        .ig {
            margin-right: 45px;
        }
    }
}


