.titulos  {
    display: flex;
    justify-content: center;
    margin-top: 90px;
    margin-bottom: 20px;
    h2{
        color: rgb(70, 67, 67);
        font-size: 65px;
        font-family: 'bebas neue';
        font-weight: 600;
        text-transform: uppercase;
    }
    .ourProducts_title{
        margin-top: -80px;
    }
}

.top-title{
    display: flex;
    justify-content: center;
    margin-top: 100px;
    text-align: center;
    h2{
        color: rgb(70, 67, 67);
        font-size: 54px;
        font-family: 'bebas neue';
    }

}

.pp {
    display: flex;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: rgb(120, 118, 118);
    margin-bottom: 15px;
    flex-wrap: wrap;
    overflow: hidden;
    justify-content: center;
    text-align: left;
    flex-shrink: 1; 
    min-width: 0; 
}
    