@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato&family=Lobster&family=Pacifico&family=Rokkitt:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("gambarino.css");
@import url("https://fonts.googleapis.com/css2?family=Sacramento&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Caveat:wght@600;700&family=Montserrat:wght@200&family=Prompt:wght@200&family=Rubik:ital,wght@1,300&display=swap");
.titulos {
  display: flex;
  justify-content: center;
  color: rgb(70, 67, 67);
}
.titulos h2 {
  font-size: 60px;
  font-family: "bebas neue";
  font-weight: 600;
  text-transform: uppercase;
}

h2 {
  margin-top: 100px;
  margin-bottom: 15px;
  color: rgb(70, 67, 67);
}

h2.top {
  margin-top: 0;
}

.pp {
  display: flex;
  font-family: "Lato", sans-serif;
  font-size: 25px;
  color: rgb(120, 118, 118);
  margin-bottom: 15px;
  flex-wrap: wrap;
  overflow: hidden;
  justify-content: center;
  text-align: left;
  flex-shrink: 1; /* Permitimos que el texto se repliegue cuando excede el contenedor */
  min-width: 0;
}

footer {
  margin-top: 90px;
  height: auto;
  width: 100vw;
  padding-top: 15px;
  font-family: "Lato", sans-serif;
  background-color: #d7e5f5;
}

.footer-content {
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
.footer-content h3 {
  font-size: 15px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 1rem;
}

.social {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.social li {
  margin: 0 10px;
}
.social li img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.portada1 {
  -webkit-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
  -moz-box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
  box-shadow: 0px 0px 17px 0px rgba(0, 0, 0, 0.41);
}

.row {
  margin-top: calc(-1 * var(--bs-gutter-y));
}

body {
  top: 0px;
  overflow-x: hidden;
  max-width: 100%;
  position: relative;
  background-color: rgb(226, 239, 250);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}

.gallery_index {
  width: 400px;
  height: 420px;
  margin-top: 20px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, auto);
  grid-auto-rows: minmax(90px, 0);
  grid-gap: 20px;
  justify-content: center;
  grid-template-areas: "a a   b b  c c" "a a   b b  c c" "a a   b b  c c" "a a   b b  c c";
}
.gallery_index:hover .block_index {
  transform: scale(0.95);
}
.gallery_index .block_index {
  position: relative;
  overflow: hidden;
  background-size: cover;
  background-position: center;
}
.gallery_index .block_index p {
  display: none;
}
.gallery_index .block_index img {
  display: block;
  border-radius: 18px;
}
.gallery_index .block_index:hover .content {
  transform: translateY(0%) scale(1);
  transform-origin: 0 0;
  transition: transform 1s;
}
.gallery_index .block_index .content {
  position: absolute;
  width: 100%;
  background: rgba(234, 240, 242, 0.8);
  bottom: 0;
  padding: 0px;
  transform: translateY(120%);
}
.gallery_index .block_index .content .h2 {
  line-height: 100%;
  font-size: 30px;
  font-family: "Inconsolata", sans-serif;
  color: rgb(140, 138, 138);
  text-align: center;
  font-style: "";
}
.gallery_index .block_index:hover {
  transform: scale(1);
}
.gallery_index .block_index:nth-child(1) {
  grid-area: a;
}
.gallery_index .block_index:nth-child(2) {
  grid-area: b;
}
.gallery_index .block_index:nth-child(3) {
  grid-area: c;
}

.img_index_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.img_index_div .index-img img {
  background-size: contain;
  border-radius: 18px;
  width: 400px;
  height: 420px;
  margin-left: 10px;
  margin-right: 10px;
}
.img_index_div .index-img p {
  font-size: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Inconsolata", sans-serif;
  font-weight: lighter;
  color: rgb(140, 138, 138);
  overflow: hidden;
  margin-top: 5px;
}

.vegan_div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 80px;
}
.vegan_div .vegan-img {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.vegan-img :hover {
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.vegan-img img {
  width: 400px;
  height: 517px;
  border-radius: 18px;
  margin-left: 10px;
  margin-right: 10px;
}

.aboutus_div {
  width: 100vw;
  height: 550px;
  background-color: #e1ecf9;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 40px;
  margin-top: 40px;
}

.aboutus-title {
  font-family: "sacramento";
  font-size: 80px;
  text-align: center;
  margin-bottom: -20px;
}

.aboutus_text {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 700px;
  height: 400px;
  font-size: 18px;
  font-family: "Inconsolata", sans-serif;
  text-align: justify;
}

.about_img {
  width: 420px;
  height: 440px;
  border-radius: 25% 75% 25% 75%/75% 38% 62% 25%;
}

.cake_size_div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px;
}
.cake_size_div .cake_size_flex {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.cake_size_flex p {
  font-family: "Lato", sans-serif;
  font-size: 20px;
}
.cake_size_flex img {
  box-shadow: none;
  width: 370px;
  height: 450px;
  margin: 30px;
  border-top-left-radius: 270px;
  border-top-right-radius: 270px;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.size_cake_shadow {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.9);
}

.flavors_list {
  display: none;
}

.menu_div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.sponge_div_div {
  margin-left: 90px;
  margin-bottom: 30px;
  height: 430px;
  width: 1000px;
}

.sponge_div {
  width: 100%;
  background-color: #d5e3f6;
  border-radius: 10px;
  border-top-right-radius: 240px;
  border-bottom-right-radius: 240px;
  border-style: solid;
  border-color: white;
  border-width: 5px;
}

.menu_titles {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 15px;
}
.menu_titles p {
  font-family: "Lato", sans-serif;
  font-size: 25px;
  text-align: center;
  margin: 0px;
  flex-wrap: wrap;
}

.title_sabores_div {
  height: 430px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sabores_div {
  margin-left: 140px;
  display: flex;
  font-size: 25px;
}

.img_card_menu {
  position: absolute;
  margin-left: -145px;
  margin-top: 15px;
}
.img_card_menu :hover {
  box-shadow: 0px 10px 20px 2px rgba(0, 0, 0, 0.25);
}
.img_card_menu img {
  height: 390px;
  border-bottom-left-radius: 30%;
  border-top-right-radius: 30%;
}

.icon_text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0px 15px 0px 5px;
}
.icon_text p {
  font-size: 18px;
  opacity: 60%;
  font-family: "bebas neue";
  margin-top: 10px;
}
.icon_text img {
  opacity: 60%;
  width: 80px;
  height: 90px;
}

.sponge {
  margin: 0px 25px 0px 25px;
}
.sponge p {
  font-size: 25px;
}

.ready_div {
  width: 100vw;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.ready_div p {
  text-align: center;
  margin-bottom: 40px;
}

.contact-form-wrapper {
  padding: 100px 0;
}

.contact-form {
  padding: 30px 40px;
  background-color: #ffffff;
  border-radius: 12px;
  max-width: 400px;
}
.contact-form textarea {
  resize: none;
}
.contact-form textarea .form-text-area {
  background-color: #f0f4f5;
  height: auto;
  padding-left: 16px;
}
.contact-form textarea .form-text-area .form-control::placeholder {
  color: #aeb4b9;
  font-weight: 500;
  opacity: 1;
}
.contact-form textarea .form-text-area .form-control::placeholder .form-control:-ms-input-placeholder {
  color: #aeb4b9;
  font-weight: 500;
}
.contact-form textarea .form-text-area .form-control::placeholder .form-control:-ms-input-placeholder .form-control:focus {
  border-color: #c44569;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #f33fb0;
}

.contact-form .form-input,
.form-text-area {
  background-color: #f0f4f5;
  height: 50px;
  padding-left: 16px;
}

.contact-form .title {
  font-family: "bebas neue";
  text-align: center;
  font-size: 40px;
  font-weight: 500;
}

.contact-form .description {
  color: #aeb4b9;
  font-size: 14px;
  text-align: center;
}

.contact-form .submit-button-wrapper {
  text-align: center;
}

.contact-form .submit-button-wrapper input {
  border: none;
  border-radius: 4px;
  background-color: #c44569;
  color: white;
  text-transform: uppercase;
  padding: 10px 60px;
  font-weight: 500;
  letter-spacing: 2px;
}

.contact-form .submit-button-wrapper input:hover {
  background-color: #d30069;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.gallery {
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(12, auto);
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 10px;
  justify-content: center;
  margin-bottom: 50px;
  grid-template-areas: "a a a a  b b b b  c c c c" "a a a a  b b b b  c c c c" "a a a a  b b b b  c c c c" "d d d d  e e e e  f f f f" "d d d d  e e e e  f f f f" "d d d d  e e e e  f f f f" "g g g g  h h h h  i i i i" "g g g g  h h h h  i i i i" "g g g g  h h h h  i i i i" "j j j j  k k k k  l l l l" "j j j j  k k k k  l l l l" "j j j j  k k k k  l l l l" "m m m m  n n n n  o o o o" "m m m m  n n n n  o o o o" "m m m m  n n n n  o o o o" "p p p p  q q q q  r r r r" "p p p p  q q q q  r r r r" "p p p p  q q q q  r r r r";
}
.gallery:hover .block {
  transform: scale(0.95);
}
.gallery .block {
  background: #bebebe;
  position: relative;
  overflow: hidden;
}
.gallery .block img {
  display: block;
  margin: 0 auto;
}
.gallery .block:hover {
  transform: scale(1);
}
.gallery .block:nth-child(1) {
  grid-area: a;
}
.gallery .block:nth-child(2) {
  grid-area: b;
}
.gallery .block:nth-child(3) {
  grid-area: c;
}
.gallery .block:nth-child(4) {
  grid-area: d;
}
.gallery .block:nth-child(5) {
  grid-area: e;
}
.gallery .block:nth-child(6) {
  grid-area: f;
}
.gallery .block:nth-child(7) {
  grid-area: g;
}
.gallery .block:nth-child(8) {
  grid-area: h;
}
.gallery .block:nth-child(9) {
  grid-area: i;
}
.gallery .block:nth-child(10) {
  grid-area: j;
}
.gallery .block:nth-child(11) {
  grid-area: k;
}
.gallery .block:nth-child(12) {
  grid-area: l;
}
.gallery .block:nth-child(13) {
  grid-area: m;
}
.gallery .block:nth-child(14) {
  grid-area: n;
}
.gallery .block:nth-child(15) {
  grid-area: o;
}
.gallery .block:nth-child(16) {
  grid-area: p;
}
.gallery .block:nth-child(17) {
  grid-area: q;
}
.gallery .block:nth-child(18) {
  grid-area: r;
}

.navbar {
  position: relative;
  display: flex;
  width: 100vw;
  height: 75px;
  margin-bottom: 15px;
}
.navbar .face,
.navbar .ig {
  cursor: pointer;
}
.navbar .navbar_center {
  z-index: 20;
  color: black;
}
.navbar .nav-item a {
  font-size: 18px;
  margin: 15px;
  font-family: "Lato", sans-serif;
}

.milo_title_div {
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100vw;
  opacity: 80%;
  pointer-events: none;
}
.milo_title_div p {
  margin-top: 40px;
  font-family: "Sacramento", cursive;
  font-size: 90px;
}

.portada {
  width: 100vw;
  height: 299px;
  position: relative;
  top: 0;
}
.portada .miloDisplayNone {
  display: none;
}
.portada .img_portada {
  width: 100vw;
  height: 350px;
  opacity: 50%;
  position: absolute;
  pointer-events: none;
}
.portada .lorem_div {
  display: flex;
  justify-content: center;
  align-items: center;
}
.portada .lorem_div h1 {
  font-family: "sacramento";
  color: rgb(44, 42, 42);
  font-size: 250px;
  z-index: 20;
  opacity: 90%;
  line-height: 100%;
}

.navbar-index {
  z-index: 1;
  width: 100vw;
  height: 75px;
  background-color: rgba(248, 249, 250, 0.996);
}
.navbar-index .nav-item a {
  font-size: 18px;
  margin: 15px;
  font-family: "Lato", sans-serif;
}
.navbar-index .nav-item .ig {
  margin-right: 45px;
}

@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .navbar-index .nav-item a {
    margin-top: 25px;
  }
}
:root {
  --radius: 33vmin;
  --frame-size: calc(var(--radius) / 3);
  --d-outer: calc(var(--radius) * 2);
  --d-inner: calc(var(--d-outer) - var(--frame-size));
  --font-size: calc(var(--radius) / 10);
}

p {
  font-size: var(--font-size);
}

.circle {
  position: absolute;
  width: var(--d-outer);
  height: var(--d-outer);
  border-radius: 50%;
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.text {
  font-family: "Inconsolata", sans-serif;
  color: rgb(140, 138, 138);
  position: absolute;
  width: 100%;
  height: 100%;
  animation: rotateText 10s linear infinite;
}

@keyframes rotateText {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
.text p span {
  position: absolute;
  left: 50%;
  font-size: 40px;
  transform-origin: 0 var(--radius);
}

@media (max-width: 1024px) {
  .circle {
    display: none;
  }
}
@media (max-width: 480px) {
  .gallery {
    grid-template-columns: repeat(4, auto);
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    margin-bottom: 20px;
    grid-template-areas: "a a a a" "b b b b" "c c c c" "d d d d" "e e e e" "f f f f" "g g g g" "h h h h" "i i i i" "j j j j" "k k k k" "l l l l" "m m m m" "n n n n" "o o o o" "p p p p" "q q q q" "r r r r";
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .gallery {
    grid-template-columns: repeat(8, auto);
    grid-auto-rows: minmax(100px, auto);
    justify-content: center;
    margin-bottom: 20px;
    grid-template-areas: "a a a a  b b b b" "a a a a  b b b b" "a a a a  b b b b" "c c c c  d d d d" "c c c c  d d d d" "c c c c  d d d d" "e e e e  f f f f" "e e e e  f f f f" "e e e e  f f f f" "g g g g  h h h h" "g g g g  h h h h" "g g g g  h h h h" "i i i i  j j j j" "i i i i  j j j j" "i i i i  j j j j" "k k k k  l l l l" "k k k k  l l l l" "k k k k  l l l l" "m m m m  n n n n" "m m m m  n n n n" "m m m m  n n n n" "o o o o  p p p p" "o o o o  p p p p" "o o o o  p p p p" "q q q q  r r r r" "q q q q  r r r r" "q q q q  r r r r";
  }
}
@media (max-width: 480px) {
  .cake_size_div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
  }
  .cake_size_flex img {
    height: 300px;
    width: 280px;
    margin: 5px;
  }
  .menu_div {
    display: none;
  }
  .flavors_list {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #d5e3f6;
    border-radius: 10px;
    width: 90vw;
    padding: 0px;
    border-color: white;
    border-style: solid;
    border-width: 2px;
  }
  .flavors_list ul {
    margin-top: 15px;
    padding: 0px;
  }
  .flavors_list li {
    text-align: center;
    list-style: none;
    font-family: "Lato", sans-serif;
  }
  .ready_div {
    width: 100vw;
    display: flex;
    height: auto;
  }
  .ready_div p {
    text-align: center;
    margin-bottom: 40px;
  }
}
@media (max-width: 480px) {
  .portada {
    height: auto;
  }
  .portada .miloDisplayNone {
    display: flex;
  }
  .img_portada {
    display: none;
  }
  .lorem_div h1 {
    display: none;
  }
  .titulos h2.top {
    margin-top: 20px;
    margin-bottom: 5px;
  }
  .gallery_index {
    height: 180px;
    grid-gap: 5px;
    margin: 0;
    overflow: visible;
    grid-template-areas: "a a b b c c" "a a b b c c";
  }
  .gallery_index .block_index img {
    width: 115px;
    height: 150px;
    display: block;
    margin-top: 15px;
  }
  .gallery_index .block_index p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inconsolata", sans-serif;
    font-size: 15px;
    color: rgb(140, 138, 138);
    text-align: center;
  }
  .gallery_index .block_index:hover .content {
    display: none;
  }
  .img_index_div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    margin-bottom: -60px;
  }
  .img_index_div .index-img img {
    height: 300px;
    width: 280px;
    margin: 5px;
  }
  .img_index_div .index-img p {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .vegan_div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    margin-bottom: -60px;
  }
  .vegan_div .vegan-img img {
    height: 300px;
    width: 280px;
    margin: 5px;
  }
  .aboutus_div {
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .aboutus-title {
    font-size: 40px;
  }
  .aboutus_text {
    width: auto;
    height: auto;
    font-size: 15px;
    text-align: left;
    margin: 20px 10px -50px 10px;
    word-wrap: break-word;
  }
  .about_img {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 220px;
    height: 230px;
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .gallery_index {
    height: auto;
    grid-gap: 5px;
    margin: 0;
    overflow: visible;
    grid-template-areas: "a a b b c c" "a a b b c c" "a a b b c c" "a a b b c c";
  }
  .gallery_index .block_index img {
    width: 250px;
    height: 280px;
    margin-top: 15px;
  }
  .gallery_index .block_index p {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Inconsolata", sans-serif;
    font-size: 15px;
    color: rgb(140, 138, 138);
    text-align: center;
  }
  .gallery_index .block_index:hover .content {
    display: none;
  }
  .img_index_div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    margin-bottom: -60px;
  }
  .img_index_div .index-img img {
    height: 300px;
    width: 300px;
    margin: 5px;
  }
  .img_index_div .index-img p {
    font-size: 20px;
    margin-bottom: 0px;
  }
  .vegan_div {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: left;
    overflow: auto;
    position: relative;
    scroll-behavior: smooth;
    margin-bottom: -60px;
  }
  .vegan_div .vegan-img img {
    height: 300px;
    width: 300px;
    margin: 5px;
  }
  .aboutus_div {
    height: auto;
    flex-direction: column-reverse;
    justify-content: center;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .aboutus-title {
    font-size: 40px;
  }
  .aboutus_text {
    width: auto;
    height: auto;
    font-size: 15px;
    text-align: left;
    margin: 20px 10px -50px 10px;
    word-wrap: break-word;
  }
  .about_img {
    margin-top: 80px;
    margin-bottom: 20px;
    width: 220px;
    height: 230px;
  }
}
.navbarr {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgba(248, 249, 250, 0.996);
  color: black;
  width: 100vw;
}

.brand-titlee {
  display: flex;
  justify-content: center;
  position: absolute;
  width: 100%;
  margin-top: 15px;
  pointer-events: none;
  font-size: 80px;
  font-family: "sacramento";
  opacity: 70%;
}

.navbar-linkss ul {
  margin: 0;
  padding: 0;
  display: flex;
}
.navbar-linkss li {
  list-style: none;
  padding: 1rem;
  display: inline-block;
}
.navbar-linkss li a {
  font-family: "Lato", sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: black;
  display: block;
}
.navbar-linkss li a img {
  border-radius: 30%;
}
.navbar-linkss li a:hover {
  background-color: rgba(224, 236, 248, 0.665);
  border-radius: 30%;
}

.toggle-buttonn {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-buttonn .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 40px;
}

@media (max-width: 700px) {
  .toggle-buttonn {
    margin-top: 37px;
    margin-right: 10px;
    display: flex;
  }
  .navbarr {
    flex-direction: column;
    align-items: center;
  }
  .brand-titlee {
    margin-left: 0px;
    margin-top: 0px;
    position: relative;
  }
  .navbar-linkss {
    display: none;
    width: 100%;
    background-color: rgba(182, 210, 239, 0.665);
  }
  .navbar-linkss ul {
    flex-direction: column;
    width: 100%;
  }
  .navbar-linkss li {
    text-align: center;
  }
  .navbar-linkss li a {
    padding: 0.5rem 1rem;
    margin-right: 0px;
  }
  .navbar-linkss li a:hover {
    background-color: rgba(129, 166, 199, 0.342);
    border-radius: 0%;
    transition: all 0.9s ease;
  }
  .navbar-linkss.active {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 480px) {
  .titulos h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 40px;
  }
  h2.top {
    margin-top: 0;
  }
  .pp p {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: left;
    font-size: 18px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .vegan-title {
    margin-top: 40px;
  }
  .menu_titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;
  }
  .menu_titles p {
    font-size: 20px;
    text-align: center;
  }
  .menu_titles .subTitle p {
    font-size: 15px;
    color: rgb(70, 67, 67);
  }
}
@media only screen and (min-device-width: 481px) and (max-device-width: 1024px) {
  .titulos h2 {
    text-align: center;
    font-size: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  h2.top {
    margin-top: 100px;
  }
  .pp p {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    text-align: left;
    font-size: 18px;
    flex-wrap: wrap;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 0px;
  }
  .vegan-title {
    margin-top: 100px;
  }
  .menu_titles {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 15px;
    text-align: center;
  }
  .menu_titles p {
    font-size: 20px;
    text-align: center;
  }
  .menu_titles .subTitle p {
    font-size: 15px;
    color: rgb(70, 67, 67);
  }
}
@font-face {
  font-family: "Gambarino-Regular";
  src: url("../fonts/Gambarino-Regular.ttf") format("truetype");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
.btn-primario {
  background-color: rgb(240, 248, 255);
}

.btn-secundario {
  background-color: rgb(255, 255, 255);
}

.btn-terciario {
  background-color: rgb(255, 235, 205);
}

.btn, .btn-primario, .btn-secundario, .btn-terciario {
  font-family: "Lato" sans-serif;
  padding: 10px 15px;
  border-radius: 5px;
  margin: 20px;
  color: rgb(0, 0, 0);
}